[submodule "reveal.js"]
	path = submodule/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "rajgoel-reveal.js-plugins"]
	path = submodule/rajgoel-reveal.js-plugins
	url = https://github.com/rajgoel/reveal.js-plugins.git
[submodule "mark.js"]
	path = submodule/mark.js
	url = https://github.com/julmot/mark.js.git
[submodule "adobe-reveal-theme"]
	path = submodule/adobe-reveal-theme
	url = https://github.com/stlab/adobe-reveal-theme.git
