# Tool versions for asdf version manager
# See: https://asdf-vm.com/
#
# Note: For mdbook and plugin versions, see versions.toml
# Use the install scripts in better-code/ to install the correct versions
rust stable

