{% assign __ = '</section><section markdown="1">' %}
{% assign endslide = '</section>' %}

{% assign note = '<aside class="notes" data-markdown="1">' %}
{% assign endnote = '</aside>' %}
{% comment %}Begin the first slide{% endcomment %}
<section markdown="1">
