{% include common.liquid %}
{% comment %}The empty div allows flex space-between to nicely space most slides.{% endcomment %}
{% assign endslide = '<div class="bottom-spacer"></div></section>' %}
{% capture __ %}{{endslide}}<section>{% endcapture %}
{% assign note = '<aside class="notes">' %}
{% assign endnote = '</aside>' %}
{% comment %}Begin the first slide{% endcomment %}
<section>
