{% assign chapters = include.chapters
  | default: site.pages
  | where_exp: "p", "p.include_in_navigation != false"
  | sort: "path"
%}
{% assign h_min = include.h_min | default: 3 %}
{% assign h_max = include.h_max %}
<ul class="navigation">
  {% for p in chapters %}
  <li>
    <details {% if p.url == page.url %}open{% endif %}>
      {% assign page_url = p.url | relative_url %}
      <summary><a href="{{page_url}}">{{p.title}}</a></summary>
      {% comment %}
        p.content may not have been rendered into html depending on context
      {% endcomment %}
      {% assign html_content = p.content | markdownify %}

      {% include toc.html html=html_content baseurl=page_url h_min=h_min h_max=h_max %}
    </details>
  </li>
  {% endfor %}
</ul>
