---
---
@import "{{'/submodule' | relative_url}}/reveal.js/dist/reveal.css";
@import "{{'/submodule' | relative_url}}/reveal.js/dist/theme/white.css";

:root {
  --r-heading-text-transform: initial;
}

// Move reveal styling from code blocks to their enclosures because we are using
// jekyll/rouge highlighting, which generates a pair of <div> wrappers for each
// highlighted code example.  Tempted to just remove these with JS.
.reveal div.highlighter-rouge > div.highlight > pre.highlight {
	box-shadow: initial;
}

.reveal div.highlighter-rouge {
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.reveal div[data-mark].highlighter-rouge > div.highlight > pre.highlight code {
	overflow: initial;
	max-height: initial;
}

.reveal div[data-mark].highlighter-rouge {
	max-height: 550px; // upstream theme says 400.
    overflow: auto;
}

div.reveal div.slides > section.present {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.reveal blockquote {
    width: 100%;
}

.reveal pre code {
    max-height: initial;
}

div.reveal .spacer {
    flex-grow: 1;
}

.reveal figure img {
    width: 100%;
}
