<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="/assets/js/reveal.js/dist/reveal.css">
    <link rel="stylesheet" href="/assets/js/reveal.js/dist/theme/white.css">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="reveal">
      <div class="slides">

        {{ content }}

      </div>
    </div>
    {{ site.livereload_script }}
    <script src="/assets/js/reveal.js/dist/reveal.js"></script>
    <script src="/assets/js/reveal.js/plugin/highlight/highlight.js"></script>
    <script>
      Reveal.initialize({
      hash: 'true',
      hashOneBasedIndex: 'true',
      fragmentInURL: 'true',
      slideNumber: 'true',
	  transition: 'fade',
	  backgroundTransition: 'fade'
          });
    </script>
  </body>
</html>
