.reveal div.mark-fragments {
    position: relative;
}

.reveal div.mark-fragments [data-mark].fragment {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing:border-box;
}

.reveal div.mark-fragments [data-mark].fragment * {
    margin-top: 0;
    margin-bottom: 0;
    // FIXME: see https://github.com/stlab/better-code/issues/2
    box-shadow: none;
}
