.reveal div.mark-fragments {
    position: relative;
}

.reveal div.mark-fragments [data-mark].fragment {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing:border-box;
    background-color: #fff; // FIXME: should be derived from the slide theme somehow.
}

.reveal div.mark-fragments [data-mark].fragment * {
    margin-top: 0;
}
